@{ 
    Layout = "_Layout";
}

<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="~/Profilbillede.jpg" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-white">
                        <h2>Viktor Bonde Pedersen</h2>
                    </div>
                </div>
                <div class="w3-container">
                    <p><i class="fa fa-book fa-fw w3-margin-right w3-large w3-text-blue"></i>Programmer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i>Odense, DK</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i>ViktorBonde.p@gmail.com</p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue"></i>1224435534</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-code fa-fw w3-margin-right w3-text-blue"></i>Skills</b></p>
                    <p>C#</p>
                    <p>HTML</p>
                    <p>SQL Database</p>
                    <p>CSS</p>
                    <p></p>
                    @*<div class="w3-light-grey w3-round-xlarge w3-small">
                    </div>*@
                    <p class="w3-large"><b><i class="fa fa-lightbulb-o w3-margin-right w3-text-blue"></i>Tertiary skills</b></p>
                    <p>UML design</p>
                    <p>Projekt management</p>
                    <p>Technology</p>
                    
                    
                    <br>
                </div>
            </div><br>

            <!-- End Left Column -->
        </div>
